<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" routerLink="/">SOFTARK<span class="text-danger"> UADY</span></a>

      <button 
          class="navbar-toggler"
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarCollapse" 
          aria-controls="navbarCollapse" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/contenido" routerLinkActive="active">Introducción <span class="sr-only">(current)</span></a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              Teoria 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/historia" routerLinkActive="active">Historia</a></li>
              <li><a class="dropdown-item" routerLink="/atributosCalidad" routerLinkActive="active">Atributos De Calidad</a></li>
              <li><a class="dropdown-item" routerLink="/modeloVistaLogica" routerLinkActive="active">Vista Lógica</a></li>
              <li><a class="dropdown-item" routerLink="/modeloVistaDesarrollo" routerLinkActive="active">Vista De Desarrollo</a></li>
              <li><a class="dropdown-item" routerLink="/modeloVistaProceso" routerLinkActive="active">Vista De Progreso</a></li>
              <li><a class="dropdown-item" routerLink="/modeloVistaFisica" routerLinkActive="active">Vista Física</a></li>
              <li><a class="dropdown-item" routerLink="/modeloVistaEscenario" routerLinkActive="active">Vista De Escenario</a></li>
              
              
              <!--
              <li class="dropdown-submenu" ><a class="dropdown-item dropdown-toggle">Modelo 4+1</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/modeloVistaLogica" routerLinkActive="active">Vista lógica</a></li>
                    <li><a class="dropdown-item" routerLink="/modeloVistaEscenario" routerLinkActive="active">Vista de escenario</a></li>      
                    <li><a class="dropdown-item" routerLink="/modeloVistaFisica" routerLinkActive="active">Vista física</a></li>    
                    <li><a class="dropdown-item" routerLink="/modeloVistaProceso" routerLinkActive="active">Vista de progreso</a></li>    
                </ul>
              </li>-->

              <!--
              <li><a class="dropdown-item" href="#"></a></li>
              <li class="dropdown-submenu"  ><a  class="dropdown-item dropdown-toggle">Google</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Submenu</a></li>
                      <li><a class="dropdown-item" href="#">Submenu0</a></li>            
                  </ul>
              </li>-->
            </ul>
          </li>

          

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              Patrones 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/broker" routerLinkActive="active">Broker</a></li>
                <li><a class="dropdown-item" routerLink="/capas" routerLinkActive="active">Capas</a></li>
                <li><a class="dropdown-item" routerLink="/tuberia" routerLinkActive="active">Tuberías Y Filtros</a></li>
            </ul>
          </li>



          <li class="nav-item ">
            <a class="nav-link" routerLink="/prueba">Prueba<span class="sr-only">(current)</span></a>
          </li>
          <!--
          <li class="nav-item ">
            <a class="nav-link" routerLink="/top-anime">Ejemplos <span class="sr-only">(current)</span></a>
          </li>
              -->
          

        </ul>
  
      </div>
    </nav>
</header>


