<!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/logica/logica.png'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
</div>
-->
    
<div class="tituloDiv">
    <div class="prueba3 textTitulo1"><b>Vista</b> </div> 
    <div class="prueba3 textTitulo2"> 
        <span> Escenario </span>
    </div>
</div>

<div id="presentacion">
    <div class="container">
        <div class="fondoModeloVista" > 
            <img
                [src]="'/assets/Recursos/escenario/escenario1.png'"
                [alt]="'Modelo De Vistas 4+1'"
                class="fonodImagenModeloVistas"  
            />  
        </div>
                
        <p class="formato-Texto">
            Esta vista va a ser representada por los casos de uso  software y va a tener la función de unir 
            y relacionar las otras 4 vistas, esto quiere decir que desde un caso de uso podemos ver como se 
            van ligando las otras 4 vistas, con lo que tendremos una trazabilidad de componentes, clases, 
            equipos, paquetes, etc., para realizar cada caso de uso. Para completar la documentación de esta 
            vista se pueden incluir el diagramas de casos de uso de UML.

        </p>
   
    </div>
</div>

<div id="descripcion">
    <div class="container">
        <!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/contenido/contenido1.jpg'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
        </div>-->
    
        
        <h1 class="formato-titulo">Descripción</h1>
        
        <p class="formato-Texto2">
            Se muestra que los elementos en las cuatro vistas funcionan juntos sin problemas mediante el 
            uso de un pequeño conjunto de escenarios importantes, instancias de casos de uso más generales, 
            para los cuales describimos los scripts correspondientes (secuencias de interacciones entre objetos 
            y entre procesos).

            Los escenarios son, en cierto sentido, una abstracción de los requisitos más importantes. Su diseño 
            se expresa mediante diagramas de escenarios de objetos y diagramas de interacción de objetos.


        </p>

        <div class="subContenido">

            <div class="fondoDescripcion" > 
                <img
                    [src]="'/assets/Recursos/escenario/escenario2.png'"
                    [alt]="'Diagrama de clases'"
                    class="fonodImagenDescripcion"  
                />  
            </div>
            
            <!--<h2 class="formato-titulo">Vistas de la arquitectura</h2>-->
        
            <p class="formato-Texto2-pequeño">
                Esta vista es redundante con las otras (de ahí el "1"), pero tiene dos propósitos principales:
            </p>

            <ul class="formato-Texto2-pequeño">
                <li>
                    Como impulsor para descubrir los elementos arquitectónicos durante el diseño de la arquitectura
                </li>
                <li>
                    Como una función de validación e ilustración una vez finalizado este diseño de arquitectura, tanto en papel como como punto de partida para las pruebas de un prototipo arquitectónico 
                </li>
            </ul>
            
            
            <div class="fondoDescripcion" > 
                <img
                    [src]="'/assets/Recursos/escenario/escenario3.png'"
                    [alt]="'Ejemplo Diagrama de secuencias'"
                    class="fonodImagenDescripcion"  
                    
                />  
            </div>
                    
        </div>

        <p class="formato-Texto2">
            La notación es muy similar a la vista lógica de los componentes, pero utiliza los conectores de la vista de 
            proceso para las interacciones entre objetos. Tenga en cuenta que las instancias de objetos se indican con líneas continuas.
        </p>

        <p class="formato-Texto2">
            El diagrama de casos de uso representa la forma en como un cliente(Actor) opera con el sistema en desarrollo,Además
            de la forma, tipo y orden en como los elementos interactúan (operacciones o caso de uso).
        </p>

        <p class="formato-Texto2"> 
           Un diagrama de caso de uso consta de los siguientes elementos:
        </p>

        <ul class="formato-Texto2-pequeño">
            <li>
                Sistema
            </li>
            <li>
                Casos de Uso
            </li>
            <li>
                Actor
            </li>
            <li>
                Relaciones de uso, herencia y comunicación
            </li>
        </ul>

    </div>
</div>

<div id="complemento">
    <div class="container">
        <!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/contenido/contenido1.jpg'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
        </div>-->
    
        
        <h1>Video complementario</h1>
        <iframe class="videoYoutube" src="https://www.youtube.com/embed/kZYcgl96cJ4" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <p class="formato-Texto">
            Se realiza una expliación y uso de los diagramas que son utilizados en la vista de escenario.
        </p>
        
    </div>
</div>