<div id="introduccion">
    <div class="container">

        <div class="textoTituloContenido">
            <span>
                Una Breve Historia
            </span>
        </div>
    
        <div class="texto-contenido">
            <div class="fondoPrincipal2" > 
                <img
                    [src]="'/assets/Recursos/historia/historia1.jpg'"
                    [alt]="'Dijkstra'"
                    class="foto"  
                />  
            </div>
            <p class="formato-Texto">
                Aunque el término “arquitectura de software”, tal y como lo concebimos ahora, aparece en 1992 con el trabajo 
                de Perry y Wolf, sus antecedentes se remontan al menos hasta finales de la década de los sesenta. En 1968, 
                Dijkstra habla de una estructuración correcta de los sistemas de software, aunque no la llama arquitectura 
                como tal. Posteriormente, en 1969, P. I. Sharp, comentando las ideas de Dijkstra, ya usa el término arquitectura 
                de software al mencionar que quizá luego se hable de “la escuela de arquitectura de software de Dijkstra”, 
                y al mismo tiempo lamentar que la industria de ese tiempo preste muy poca atención a ésta.
            </p>
            
        </div>
        
        <div class="fondoPrincipal" > 
            <img
                [src]="'/assets/Recursos/historia/historia2.jpg'"
                [alt]="'Historia'"
                class="fondoImgTop2"  
            />  
        </div>

        <p class="formato-Texto">
            Durante la década de los setentas el concepto de arquitectura deambuló por el aire sin una semántica clara 
            y carente de una expresión pragmática. En esta misma década, el diseño estructurado dio pie a la 
            independencia entre el diseño y la implementación. Los trabajos de Parnas sobre técnicas de modularización 
            en decisiones de diseño y familias de programas, fueron, sin duda, aportaciones esenciales y permanentes.
        </p>
            
    </div>
</div>

<div id="descripcion">
    <div class="container">
        <!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/contenido/contenido1.jpg'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
        </div>-->
    
        
        <p class="formato-Texto2">
            Las decisiones “tempranas” de diseño, argüía Parnas, probablemente permanecerían invariantes en el 
            desarrollo de la solución; estas ideas se convierten luego en lo que hoy se conocen como decisiones 
            arquitectónicas.
        </p>

        <p class="formato-Texto2">
            Rompiendo esquemas y acaparando la atención en la década de los ochentas, aparece el paradigma de la 
            orientación a objetos. En esta década aparecen dos trabajos importantes de Mary Shaw, que retoman las 
            abstracciones de alto nivel: “Técnicas de abstracción en lenguajes modernos de programación” y “Los 
            sistemas de gran escala requieren de abstracciones de alto nivel”.
        </p>

        <div class="subContenido">
            <h2 class="formato-titulo">Todo comienza...</h2>
        
            <p class="formato-Texto2-pequeño">
                Hacia finales de los ochenta y principios de los noventa, comienza a gestarse de manera más clara la idea 
                de que las aplicaciones tienen una morfología, una estructura. El trabajo de Perry y Wolf de 1992 es el 
                punto de partida para lo que hoy conocemos como arquitectura de software. Por un lado, son los primeros 
                que proponen un modelo para la arquitectura de software; este modelo contempla a la arquitectura formada 
                por tres componentes: elementos, forma y razón. Los elementos pueden ser de procesamiento, datos o 
                conexión; la forma se define de acuerdo a las propiedades de, y a las relaciones entre los elementos; 
                la razón se contempla en términos de restricciones del sistema, que se derivan de los requerimientos del sistema.
            </p>
            <div class="fondoPrincipal" >
                <img
                    [src]="'/assets/Recursos/historia/historia3.jpg'"
                    [alt]="'Historia'"
                    class="fondoImgTop"  
                />  
            </div>

            <h2 class="formato-titulo">La arquitectura de software</h2>
        
            <p class="formato-Texto2-pequeño">
                Perry y Wolf profetizaron que: “la década de los noventas, creemos, será la década de la arquitectura de software”, 
                lo cual se convirtió en realidad. A lo largo de esa década, salieron a la luz varios trabajos con propuestas relevantes, 
                entre ellas, la programación basada en componentes, el surgimiento de los patrones y estilos, el modelo de 4+1 vistas, 
                y lenguajes de descripción de arquitecturas (ADLs) entre otras.
            </p>

            
            <p class="formato-Texto2-pequeño">
                En la segunda mitad de los noventa aparecen los primeros libros de texto dedicados a la arquitectura de software. 
                El año 2000 cierra esta década con dos trabajos clave: el modelo REST propuesto en la tesis de Roy Fielding que pone la 
                atención en Internet y los modelos orientados a servicios; y el trabajo de la IEEE, que genera una versión definitiva 
                de la recomendación IEEE std 1471-2000.
            </p>

            
            
            
        </div>           
    </div>
</div>

<div id="atencionArquitecura">
    <div class="container">
        <!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/contenido/contenido1.jpg'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
        </div>-->
    
        
        <h1>Definiciones y más definiciones</h1>
        
        <p class="formato-Texto">
            Encontrar una definición aceptada universalmente no es tarea fácil, de hecho no existe. Por el contrario, se puede 
            literalmente nadar en un mar de definiciones. Lo que existe es un consenso intuitivo de qué es arquitectura de 
            software. Este consenso intuitivo involucra generalmente un diagrama: círculos o cuadros unidos por alguna línea, 
            alguna identificación de estos elementos y poca cosa más. La interpretación recae en forma importante en quién la ve 
            (y la puede entender) o la diseña, y seguramente fuera de este círculo lo que provoca es simplemente confusión.
        </p>
        
       <div class="subContenido2">
        
            <p class="formato-Texto2-pequeñoAtencion">
                La construcción de una definición textual de arquitectura de software se basa y se ha basado en la mayoría
                de los casos en interpretar estos diagramas y darles de alguna manera coherencia. Así podemos encontrar que 
                las definiciones iniciales se refieren a componentes o elementos relacionados entre sí (estructura) 
                primordialmente. Luego se le ha agregado que también las propiedades de los elementos son parte de la arquitectura; 
                otros más se decantan por el conjunto de decisiones de diseño (sin marcar cómo podrían mostrarse en un diagrama), 
                y algunos más aterrizan la definición como aquellos aspectos que son inmutables en un sistema de software o 
                difíciles de cambiar. Una definición a la que se recurre más es la presentada por Bass, et al.: “Una arquitectura 
                de software de un programa o un sistema computacional es la estructura del sistema, la cual comprende elementos 
                de software, las propiedades externamente visibles de esos elementos, y las relaciones entre ellos”.
            </p>
        </div>
    </div>

</div>

<div id="complemento">
    <div class="container">     
        <h1 class="tamañoLetra">Video complementario</h1>
        <iframe class="videoYoutube" src="https://www.youtube.com/embed/9SCD5oKDSSU" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <p class="formato-Texto">
            Aquí se puede observar un poco de la historia de la arquitectura de software
        </p>
    </div>
</div>