<!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/logica/logica.png'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
</div>
-->
    
<div class="tituloDiv">
    <div class="prueba3 textTitulo1"><b>Vista</b> </div> 
    <div class="prueba3 textTitulo2"> 
        <span> De Desarrollo </span>
    </div>
</div>

<div id="presentacion">
    <div class="container">
        <div class="fondoModeloVista" > 
            <img
                [src]="'/assets/Recursos/desarrollo/desarrollo.png'"
                [alt]="'Modelo De Vistas 4+1'"
                class="fonodImagenModeloVistas"  
            />  
        </div>
                
        <p class="formato-Texto">
            La vista de despliegue o de desarrollo muestra el sistema desde la perspectiva de un programador 
            y se ocupa de la gestión del software; o en otras palabras, se va a mostrar como esta dividido el 
            sistema software en componentes y las dependencias que hay entre esos componentes. Para completar 
            la documentación de esta vista se pueden incluir los diagramas de componentes y de paquetes de UML.

        </p>
   
    </div>
</div>

<div id="descripcion">
    <div class="container">
        <!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/contenido/contenido1.jpg'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
        </div>-->
    
        
        <h1 class="formato-titulo">Descripción</h1>

        <p class="formato-Texto2">
            La arquitectura de desarrollo se centra en la organización real del módulo de software en el entorno de
            desarrollo de software. El software está empaquetado en pequeños fragmentos (bibliotecas de programas o 
            subsistemas) que pueden ser desarrollados por uno o un pequeño número de desarrolladores. Los subsistemas
            están organizados en una jerarquía de capas, cada capa proporciona una interfaz estrecha y bien definida 
            para las capas superiores.
        </p>
        
        <div class="subContenido">

            <div class="fondoDescripcion" > 
                <img
                    [src]="'/assets/Recursos/desarrollo/desarrollo2.png'"
                    [alt]="'Diagrama de componentes'"
                    class="fonodImagenDescripcion"  
                />  
            </div>
            
            <!--<h2 class="formato-titulo">Vistas de la arquitectura</h2>-->
            <p class="formato-Texto2">
                En su mayor parte, la arquitectura de desarrollo tiene en cuenta los requisitos internos relacionados con 
                la facilidad de desarrollo, la gestión del software, la reutilización o los elementos comunes, y las 
                limitaciones impuestas por el conjunto de herramientas o el lenguaje de programación.
            </p>
            
    
            <p class="formato-Texto2">
                La vista de desarrollo de la arquitectura del software debería proporcionar a los desarrolladores una 
                guía práctica. Cualquier decisión de diseño que afecte la situación general debe ser completada por el 
                diseño de la arquitectura. Si estas decisiones se "filtran" a la parte posterior, eventualmente se 
                descubrirán en la etapa de desarrollo masivamente paralelo, lo que puede causar que un gran número de 
                programadores se reúnan temporalmente decisiones ". Inevitablemente disminuirá e incluso conducirá al 
                fracaso del proyecto.
    
            </p>
            
            

            
            <div class="fondoDescripcion" > 
                <img
                    [src]="'/assets/Recursos/desarrollo/desarrollo3.png'"
                    [alt]="'Ejemplo Diagrama de secuencias'"
                    class="fonodImagenDescripcion"  
                    
                />  
            </div>
                    
        </div>

        <p class="formato-Texto2-pequeño">
            Hablando de requisitos restrictivos. Las restricciones deben ser algunas restricciones de diseño a las que toda 
            vista arquitectónica debe prestar atención y observar. Por ejemplo, teniendo en cuenta la restricción de "algunos 
            desarrolladores no tienen experiencia de desarrollo integrado", es necesario que el arquitecto explique claramente 
            cómo se compila el programa de destino del sistema.
        </p>

        <p class="formato-Texto2-pequeño">
            Una de las funciones importantes de la vista de desarrollo, es que sirve como base para la asignación de requisitos, 
            para la asignación del trabajo a los equipos (o incluso para la organización del equipo), para la evaluación y 
            planificación de costos, para monitorear el progreso del proyecto, para razonar sobre la reutilización, portabilidad 
            y seguridad del software.

        </p>

    </div>
</div>

<div id="complemento">
    <div class="container">
        <!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/contenido/contenido1.jpg'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
        </div>-->
    
        
        <h1>Video complementario</h1>
        <iframe class="videoYoutube" src="https://www.youtube.com/embed/xkp4CLtIpb0" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <p class="formato-Texto">
            Se realiza una expliación y uso de los diagramas que son utilizados en la vista de desarrollo.
        </p>
        
    </div>
</div>