<p>modelo-vista-fisica works!</p>
<!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/logica/logica.png'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
</div>
-->
    
<div class="tituloDiv">
    <div class="prueba3 textTitulo1"><b>Vista</b> </div> 
    <div class="prueba3 textTitulo2"> 
        <span> Física </span>
    </div>
</div>

<div id="presentacion">
    <div class="container">
        <div class="fondoModeloVista" > 
            <img
                [src]="'/assets/Recursos/fisica/fisica.png'"
                [alt]="'Modelo De Vistas 4+1'"
                class="fonodImagenModeloVistas"  
            />  
        </div>
                
        <p class="formato-Texto">
            En esta vista se muestra desde la perspectiva de un ingeniero de sistemas todos los 
            componentes físicos del sistema así como las conexiones físicas entre esos componentes que 
            conforman la solución (incluyendo los servicios). Para completar la documentación de esta 
            vista se puede incluir el diagrama de despliegue de UML.

        </p>
   
    </div>
</div>

<div id="descripcion">
    <div class="container">
        <!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/contenido/contenido1.jpg'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
        </div>-->
    
        
        <h1 class="formato-titulo">Descripción</h1>
        
        <p class="formato-Texto2">
            La arquitectura física tiene en cuenta principalmente los requisitos no funcionales del sistema, 
            como la disponibilidad, la confiabilidad (tolerancia a fallas), el rendimiento (rendimiento) y la 
            escalabilidad. El software se ejecuta en una red de computadoras o nodos de procesamiento (o simplemente 
            nodos para abreviar). Los diversos elementos identificados (redes, procesos, tareas y objetos) deben 
            mapearse en los distintos nodos. 

        </p>


        <div class="subContenido">

            <div class="fondoDescripcion" > 
                <img
                    [src]="'/assets/Recursos/fisica/fisica2.png'"
                    [alt]="'Diagrama de clases'"
                    class="fonodImagenDescripcion"  
                />  
            </div>
            
            <!--<h2 class="formato-titulo">Vistas de la arquitectura</h2>-->
            <p class="formato-Texto2">
                Esperamos que se utilicen varias configuraciones físicas diferentes: algunas para el desarrollo y 
                las pruebas, otras para la implementación del sistema para varios sitios o para diferentes clientes. 
                Por lo tanto, la asignación del software a los nodos debe ser muy flexible y tener un impacto mínimo 
                en el código fuente en sí. 
            </p>

            <p class="formato-Texto2-pequeño">
               Para completar la documentación de esta vista se puede incluir el diagrama de despliegue de UML
            </p>

            
            
            <div class="fondoDescripcion" > 
                <img
                    [src]="'/assets/Recursos/fisica/fisica3.png'"
                    [alt]="'Ejemplo Diagrama de secuencias'"
                    class="fonodImagenDescripcion"  
                    
                />  
            </div>
                    
        </div>

        <p class="formato-Texto2">
            En última instancia, el software debe residir, instalarse o implementarse en el hardware para su ejecución, y la
            vista física de la arquitectura del software se centra en cómo el "programa de destino y su tiempo de ejecución 
            dependiente y el software del sistema" se instalan o implementan en las máquinas físicas, y cómo para implementar 
            máquinas y redes Cumplir con los requisitos de confiabilidad y escalabilidad del sistema de software. 
        </p>

        <p class="formato-Texto2">
            También podemos expresar el módulo de destino específico y su estructura de comunicación de manera más clara a 
            través de la vista de arquitectura física de acuerdo con las necesidades de la situación específica
        </p>

        
    </div>
</div>

<div id="complemento">
    <div class="container">
        <!--<div class="fondoPrincipal" > -
            <img
                [src]="'/assets/Recursos/contenido/contenido1.jpg'"
                [alt]="'Animes Top'"
                class="fondoImgTop"  
            />  
        </div>-->
    
        
        <h1>Video complementario</h1>
        <iframe class="videoYoutube" src="https://www.youtube.com/embed/kZYcgl96cJ4" title="YouTube video player"
         frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <p class="formato-Texto">
            Se realiza una expliación y uso de los diagramas que son utilizados en la vista física.
        </p>
        
    </div>
</div>